body{
	background-color: #202020;
	color: #eebd08;
}
#cards{
	background-color: #7b1810;
}

.card{
	background-color: #7b5a08 !important;
	color: #eebd08;
}

.card a {
	color: #eebd08;
}

#headingOne{
	background-color: #732900 !important;
}
